# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives** 
# - List of popular languages used by Data Scientists 
# - List of commonly used libraries by Data Scientists 
# - Create a Table 
# - Introducing H3 heading with introducing arithmetic expression
# - Code for Multiplying and adding integers 
# - Code for Coverting minutes into Hours

# Some of the popular languages Data scientists use are : 
# 1. Python 
# 2. R 
# 3. SQL
# 4. Scala 
# 5. Julia

# Some of the commonly used libraries by Data Scientists include: 
# 1. Pandas
# 2. Numpy
# 3. Matplotlib
# 4. Seabor 
# 5. Scikit- Learn
# 6. Tensorflow

 | Data Science Tools | 
 | ------------------ |
 | R Studio |
 | Apache Spark | 
 | Tensor Flow |
 | Jupyter Notebooks |
 | Git Hub |

### Below are a few examples of evaluating arithmetic expressions in Python :

In [1]:
print("This is a simple arithmetic expression to multiply and then add integers")
(3*4)+5

This is a simple arithmetic expression to multiply and then add integers

17

In [2]:
print(" This will convert 200 minutes to hours by dividing by 60")
200/60

 This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author 
## Anubha Mishra